@font-face {
  font-family: "SiteFont";

  /* فارسی */
  src: url("https://fonts.gstatic.com/s/vazirmatn/v20/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkq0.woff2");

  unicode-range:
    U+0600-06FF,
    U+0750-077F,
    U+08A0-08FF;
}

@font-face {
  font-family: "SiteFont";

  /* انگلیسی */
  src: url("https://fonts.gstatic.com/s/plusjakartasans/v18/LDI2apCSOBg7S-QT7pbYF_Oreec.woff2");

  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC;
}
body {
  margin: 0;
  font-family: "SiteFont",sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
